:root {
    --cor-fundo: rgb(14, 34, 53);
    --cor-principal: rgb(8, 246, 179);
    --cor-secundaria: rgb(249, 5, 5);
    --cor-destaqu: white;
    --cor-texto: black;
}


body {
      background-color: var(--cor-fundo);
      color: var(--cor-destaqu);
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
}

.caixa-principal {
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
text-align: center;
padding: 20px;
}

h1{
    background-color: var(--cor-destaqu);
}